<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>

<div th:if="${param.error}" style="color: red;">
    Invalid username or password.
</div>

<div th:if="${param.logout}" style="color: green;">
    You have been logged out.
</div>

<div th:if="${param.reset}" style="color: green;">
    Password has been reset successfully.
</div>

<div th:if="${param.changed}" style="color: green;">
    Password has been changed successfully.
</div>

<form th:action="@{/auth/process-login}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
    <div>
        <a th:href="@{/auth/forgot-password}">Forgot Password?</a>
    </div>
</form>
</body>
</html>